{{#link-to 'question' question.id}}
  <div class="questionCard">
    <p class="questionContent">
      {{question.content}}
    </p>
    <p class="questionAuthor">
      {{question.questionAuthor}}
    </p>
  </div>
{{/link-to}}
