{{#link-to 'question' question.id class="goQ"}}
  <div class="card">
    <p class="content">
      {{question.content}}
      {{{fire}}}
      {{on-fire question}}
    </p>
    <p class="author">
      {{question.questionAuthor}}
    </p>
  </div>
{{/link-to}}
