{{#bs-navbar class="navi"}}
  <div class="navbar-header">
    {{#bs-navbar-toggle class="hamburger"}}
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    {{/bs-navbar-toggle}}
    <a class="navbar-brand" href="/"><img src="/img/logo.png" width="40px" style="display:inline">Stack<span class="underflow">underflow</span></a>
  </div>
    <!-- {{#bs-navbar-content class="collapse navbar-collapse"}}
      {{#bs-navbar-nav class="navbar-right"}}
        {{#bs-dropdown tagName="li"}}
          {{#bs-dropdown-toggle}}Categories <span class="caret"></span>{{/bs-dropdown-toggle}}
          {{#bs-dropdown-menu}}
              <li>{{#link-to "index"}}OK{{/link-to}}</li>
          {{/bs-dropdown-menu}}
        {{/bs-dropdown}}
      {{/bs-navbar-nav}}
    {{/bs-navbar-content}} -->
{{/bs-navbar}}

<div class="container">
  {{outlet}}
</div>
