<h3>Favorites</h3>
<div class="tiles">
  {{display-favorites}}
</div>
<h3>Questions</h3>
<div class="tiles">
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</div>

<div class="newQ">
  {{new-question save="save"}}
</div>
