{{question-detail question=model}}

{{update-question question=model update="update"}}

<div class="tiles">
  {{#each model.answers as |answer|}}
  {{answer-tile answer=answer}}
  {{/each}}
</div>

{{new-answer question=model save="save"}}
